*.pyc
*.npy
*.pth
*.whl
*.swp

data/
ckpt/
work_dirs*/
dist_test/
vis/
val/
lib/

*.egg-info
build/
__pycache__/
*.so

job_scripts/
temp_ops/
test/
wandb/
mmdetection3d/
result_vis/
result_vis_noego_nointri/
result_vis_nointri/
data